.top-left{
    background: transparent url("../sprites/all-sprited_regular.png") -20px 0 no-repeat;
}
.top-left2{
    background: red url('../sprites/all-sprited_regular.png') -20px 0 no-repeat;
}
.top-left3{
    background: url(../sprites/all-sprited_regular.png) 0 0 no-repeat;
}

.repeat-x{
    background: #fff url("../sprites/all-sprited_x.png") 0 0 repeat-x;
}
.repeat-y{
    background: url("../sprites/all-sprited_y.png") -12px 0 repeat-y;
}
.repeat-y2{
    background: url("../sprites/all-sprited_y.png") -6px 0 repeat-y;
}
.repeat-y3{
    background: url("../sprites/all-sprited_y.png") 0 0 repeat-y;
}

/* ignore these selectors */

.ignore-center{
    background: url("image.png") top center no-repeat;
}
.ignore-positioned{
    background: url("image2.png") left -14px no-repeat;
}
.ignore-bottom{
    background: url("image3.png") bottom left no-repeat;
}
.ignore-comment{
    background: url("image4.png"); /* no sprite */
}
.ignore-embedded{
    background: url(data:image/png;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7);
}
.ignore-image{
    background: url('image5.png');
}
.ignore-repeat-right{
    background: url('image6.png') right repeat-x;
}
.ignore-gif{
    background: url('image.gif');
}